*.log
.env
.env.production
.github/
.cursor/
dist/
node_modules/
data/

# Tesseract training data
*.traineddata

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store

# Debug and result files
captcha.png
result.html

# TypeScript cache
*.tsbuildinfo
